{% extends 'base.html' %}
  {% block content %}

<br>
<table>
        <tbody><tr>
            <td style="color: white">Start date:</td>
            <td><input type="text" id="min" name="min" style="width: 250px"></td>
        </tr>
        <tr>
            <td style="color: white">End date:</td>
            <td><input type="text" id="max" name="max" style="width: 250px"></td>
        </tr>
    </tbody></table>
<br>
<div class="table-responsive">
    <table class = "table" style="height:110px; width:100%; border-bottom: 1px solid #F89E19">
        <thead><th>Income Statement</th></thead>
            <tr>
                <th>Revenue</th>
                <td>
                    <div class="my_extra_cells">Name of Revenue account</div>
                    <div class="my_extra_cells">Name of Revenue account</div>
                    <div class="my_extra_cells" style="font-weight: bold">Total Revenue</div>
                </td>
                <td><div class="my_extra_cells">Amount</div>
                    <div class="my_extra_cells">Amount</div>

                </td>
            </tr>
            <tr>
                <th>Expenses</th>
                <td>
                    <div class="my_extra_cells">Name of Expense account</div>
                    <div class="my_extra_cells">Name of Expense account</div>
                    <div class="my_extra_cells" style="font-weight: bold">Total Expenses</div>
                </td>
                <td><div class="my_extra_cells">Amount</div>
                    <div class="my_extra_cells">Amount</div>

                </td>
            </tr>
            <tr>
                <th>Net Income</th>
                <td>Renenue - Expenses</td>
                <td>Amount</td>
            </tr>

    </table>
</div>

{% endblock %}
