{% extends 'base.html' %}
  {% block content %}


<br>
<table>
        <tbody><tr>
            <td style="color: white">Start date:</td>
            <td><input type="text" id="min" name="min" style="width: 250px"></td>
        </tr>
        <tr>
            <td style="color: white">End date:</td>
            <td><input type="text" id="max" name="max" style="width: 250px"></td>
        </tr>
    </tbody></table>
<br>
<div class="table-responsive">
    <table class = "table table-borderless" style="height:110px; width:100%; border-bottom: 1px solid #F89E19">
        <thead><th style="font-size: larger">Retained Earnings</th></thead>
        <thead>
        <tr>
            <tr><th>Retained Earnings: Beginning</th></tr>
        <td>
            <table>
                <thead>

                        <tr>
                            <td><div>Subcategory of account and description</div>
                            <td >Initial amount from retained earnings account</td>
                        </tr>

                </thead>
            </table>
        </td>
<td>
        <tr><th>Net Income</th></tr>
        <td>
            <table>
                <thead>

                        <tr>
                            <td><div>Description of account account</div>

                            <td >Amount from Net income in income statement</td>
                        </tr>

                </thead>
            </table>
        </td>
<td>
        <tr><th>Dividends</th></tr>
    <td>
            <table>
                <thead>

                        <tr>
                            <td><div>Subcategory and description of account</div>
                            <td >Amount</td>
                        </tr>

                </thead>
            </table>
        </td>

        </tr>
        </thead>
<tfoot>
    <tr>
      <td>Retained Earnings: Ending (RE beginning + net income - dividends)</td>
      <td>Amount</td>
    </tr>
  </tfoot>
    </table>
</div>

{% endblock %}
