{% extends 'base.html' %}
  {% block content %}

     <script>
         function email_trial_balance() {
            let income_html = encodeURIComponent(document.getElementById('trial_balance').innerHTML);
            let test2 = '{{url_for('statements.email_statement', statement='Trial Balance')}}';
            window.location.href=test2 + '&&included_message=' + income_html;
        }
     </script>


<br>
<table>
        <tbody><tr>
            <td style="color: white">Start date:</td>
            <td><input type="text" id="min" name="min" style="width: 250px"></td>
        </tr>
        <tr>
            <td style="color: white">End date:</td>
            <td><input type="text" id="max" name="max" style="width: 250px"></td>
        </tr>
    </tbody></table>
<br>
<div class="table-responsive" id="trial_balance">
    <table class = "table table-borderless" style="height:110px; width:100%; border-bottom: 1px solid #F89E19">
        <thead>
            <th style="font-size: larger">
                Trial Balance
            </th>
        </thead>
        <thead>
            <tr>
                <th>Name</th>
                <th>Debits</th>
                <th>Credits</th>
            </tr>
        </thead>
        <tbody>
            {% set temp1 = namespace(total_debits=0) %}
            {% set temp2 = namespace(total_credits=0) %}
            {% for category in categories %}
            <tr>
                <td>
                    <h4>{{ category['name'] }}</h4>
                </td>
            </tr>
                {% for subcat in subcategories %}
                    {% if subcat['category'] == category['number'] %}
                        <tr>
                            <td><h6>{{ subcat['name'] }}</h6></td>
                        </tr>
                        {% for account in accounts %}
                            {% if account['acct_subcategory'] == subcat['id_num'] %}
                                <tr>
                                    <td>{{ account['acct_name'] }}</td>
                                    {% if account['debit'] == 1 %}
                                        <td class="show-comma">{{ account['balance'] }}</td>
                                        {% set temp1.total_debits = temp1.total_debits + account['balance'] %}
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if account['debit'] == 0 %}
                                        <td class="show-comma">{{ account['balance'] }}</td>
                                        {% set temp2.total_credits = temp2.total_credits + account['balance'] %}
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tr>
        </tbody>
        <tfoot>
    <tr>
      <td style="font-weight: bold">Total</td>
      <td style="font-weight: bold" class="show-comma">{{ temp1.total_debits }}</td>
        <td style="font-weight: bold" class="show-comma">{{ temp2.total_credits }}</td>
    </tr>
  </tfoot>
    </table>
</div>
      <div class="d-flex justify-content-center" >
        <button data-toggle="tooltip" data-placement="top" title="Print a copy of the trial balance"  type="button" style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #185DFF; color: white; border-radius: 6px; width: 200px"  onclick="alert('To save the trial balance, select Save as PDF from the Print dialog' ); window.print()">Save/Print Trial Balance</button>
        {% if g.user['role'] == 2 %}
            <button data-toggle="tooltip" data-placement="top" title="Email this trial balance to someone" type="button" style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #185DFF; color: white; border-radius: 6px; width: 200px"  onclick="email_trial_balance()">Email Trial Balance</button>
        {% endif %}
      </div>

{% endblock %}
