{% extends 'base.html' %}
  {% block content %}


<br>
<table>
        <tbody><tr>
            <td style="color: white">Start date:</td>
            <td><input type="text" id="min" name="min" style="width: 250px"></td>
        </tr>
        <tr>
            <td style="color: white">End date:</td>
            <td><input type="text" id="max" name="max" style="width: 250px"></td>
        </tr>
    </tbody></table>
<br>
<div class="table-responsive">
    <table class = "table table-borderless" style="height:110px; width:100%; border-bottom: 1px solid #F89E19">
        <thead><th style="font-size: larger">Trial Balance</th></thead>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Debits</th>
                        <th>Credits</th>
                    </tr>
                    </thead>
        <tr>
            <tbody>
            <td>Names of all accounts</td>
            <td>Debit associated with account</td>
            <td>Credit associated with account</td>
            </tbody>
        </tr>
        <tfoot>
    <tr>
      <td>Total</td>
      <td>Amount</td>
        <td>Amount</td>
    </tr>
  </tfoot>
    </table>
</div>

{% endblock %}
