.loginbox{
    width: 400px;
    height: 540px;
    background: black;
    color: #185DFF;
    position: absolute;
    left: 50%;
    top : 50%;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}