body {
  background-image: url("backgroundbb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.Welcome-text {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:22px;
  margin: 20% 30%;
text-align:center;
}



