{% extends 'base.html' %}
<link href="form.css" rel="stylesheet" type = text/css>
{% block header %}
  <h1>{% block title %}Email Sent{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="account_accepted">Your account has been registered!</label>
        <br>
        <label for="account_accepted_two">Check back with us once an administrator has verified your account.</label>
        <br>
        <a href="../index.html" >Return to home page</a><br>

    </form>
{% endblock %}