{% extends 'base.html' %}


{% block content %}
    <style>
        .loginbox {
            position: relative;
            max-width: 500px;
            width: 80%;
            border-radius: 6px;
            padding: 30px;
            margin-top: 10vh;
            margin-left: auto;
            margin-right: auto;
            background-color: black;
        }

        .loginbox h1 {
            padding: 0;
            text-align: center;
            color: white;
            font-size: x-large;
        }

        .loginbox form {
            position: relative;
            margin-top: 16px;
            min-height: 400px;
            background: black;
        }

        form label {
            font-size: 14px;
            font-weight: bold;
            color: #185DFF;
        }

        form input {
            width: 100%;
            outline: none;
            color: #333;
            font-size: 14px;
            border: 1px solid #F89E19;
            border-radius: 5px;
            color: black;
            height: 42px;
            margin: 8px 0;
        }

        form .submit {
            background-color: #185DFF;
            color: white;
            padding: 10px 20px;
            margin-top: 20px;
            margin-bottom: 30px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
            font-size: 14px;
        }

        @media screen and (max-width: 600px) {
        }

        @media screen and (max-width: 390px) {
            .loginbox {
                margin-top: 10vh;
            }
        }

    </style>
    <div class="loginbox">
        <form method="post">
            <h1>{% block title %}Forgot Password{% endblock %}</h1>
            <label for="email_address">Email Address</label>
            <input type="email" name="email_address" id="email_address" required>
            <label for="username">Username</label>
            <input name="username" id="username" required>
            <label for="first_pet">Name of your first pet</label>
            <input name="first_pet" id="first_pet" required>
            <label for="city_born">City you were born in</label>
            <input name="city_born" id="city_born" required>
            <label for="year_graduated_hs">Year you graduated highschool</label>
            <input name="year_graduated_hs" id="year_graduated_hs" required>
            <input data-toggle="tooltip" data-placement="top" title="Reset user password" class="submit" type="submit"
                   value="Reset Password">
        </form>
    </div>
{% endblock %}
