{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Forgot Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="email_address">Email Address</label>
        <input name="email_address" id="email_address" required>
        <br>
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <br>
        <label for="first_pet">Name of your first pet</label>
        <input name="first_pet" id="first_pet" required>
        <br>
        <label for="city_born">City you were born in</label>
        <input name="city_born" id="city_born" required>
        <br>
        <label for="year_graduated_hs">Year you graduated highschool</label>
        <input name="year_graduated_hs" id="year_graduated_hs" required>
        <input type="submit" value="Log In">
    </form>
{% endblock %}