{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">




<script src="{{ url_for('static', filename='script.js') }}"></script>

{% block content %}
<style>
  .loginbox{
    width: 380px;
    height: 500px;
    background: black;
    color: #185DFF;
    position: absolute;
    left: 50%;
    top : 50%;
    margin-top: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 40px 30px;
  }
  .loginbox h1{
    padding:0; text-align:center; color: white;
  }
  form label{
    font-size: 14px;
    font-weight: bold;
    color: #185DFF;
  }
  form input{
    width: 100%;
    outline: none;
    color: #333;
    font-size: 14px;
    border: 1px solid #F89E19;
    border-radius: 5px;
    color: black;
    height: 42px;
    margin: 8px 0;
  }
  form .submit{
        background-color: #185DFF;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        font-size: 14px;
  }
  form a{
    text-decoration: none;
    font-size: 14px;
    line-height: 10px;
    color: white;
    display: block;
  }
</style>
<div class = loginbox>
  <h1>{% block title %}Log In{% endblock %}</h1>
  <form method="post">
    <label for="username">Username</label>
        <input name="username" id="username" placeholder="Enter username" required>
    <label for="password" >Password</label>
    <input type="password" name="password" placeholder="Enter password" id="password" required >
    <input style = "height: 20px; margin-left: -150px; margin-right: -140px; margin-top: 4px" type="checkbox" onclick="myFunction()"><p style="margin-left: 38px; margin-top: -27px; color: white">Show Password</p>
    <input class = "submit" type="submit" value="Log In">
    <a href="{{ url_for('auth.forgot_password') }}" >Forgot password?</a><br>
    <a href="{{ url_for('auth.register') }}" >Create a new user account</a><br>
  </form>
</div>
<script>
  function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
{% endblock %}