{% extends 'base.html' %}
<script src="script.js"></script>
{% block header %}

{% endblock %}

{% block content %}
<style>
  .loginbox{
    width: 380px;
    height: 450px;
    background: black;
    color: #185DFF;
    position: absolute;
    left: 50%;
    top : 50%;
    margin-top: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 40px 30px;
  }
  .loginbox h1{
    padding:0; text-align:center; color: white;
  }
  form label{
    font-size: 14px;
    font-weight: bold;
    color: #185DFF;
  }
  form input{
    width: 100%;
    outline: none;
    font-size: 14px;
    border: 1px solid #F89E19;
    background:transparent;
    border-radius: 5px;
    color: white;
    height: 42px;
    margin: 8px 0;
  }
  form .submit{
        background-color: #185DFF;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        font-size: 14px;
  }
  form a{
    text-decoration: none;
    font-size: 14px;
    line-height: 10px;
    color: white;
    display: block;
  }
</style>
<div class = loginbox>
  <h1>{% block title %}Log In{% endblock %}</h1>
  <form method="post">
    <label for="username">Username</label>
        <input name="username" id="username" placeholder="Enter username" required>
    <label for="password" >Password</label>
    <input type="password" name="password" placeholder="Enter password" id="password" required >
    <input class = "submit" type="submit" value="Log In" style="">
    <a href="#" >Forgot password?</a><br>
    <a href="{{ url_for('auth.register') }}" >Create a new user account</a><br>
  </form>
</div>
{% endblock %}