{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<style>
    h1, h3{
      background-color: #CFCFCF;
      color:#185DFF;
}
</style>
<head>
    <meta charset="UTF-8">
    {% block title %}User Management{% endblock %}
</head>
<body>
{% block content %}
    <h1 class = "h1-h3">User management</h1>
    <h3 class = "h1-h3">Current users:</h3>
<div style="overflow-x:auto;">
    <table class = "table" style="height:110px; width:100%; border-bottom: 1px solid #F89E19">
        <tr class = "table-header">
            <th style="border:1px solid black">Full Name</th>
            <th style="border:1px solid black">Username</th>
            <th style="border:1px solid black">Email</th>
            <th style="border:1px solid black">Active?</th>
            <th style="border:1px solid black">Role</th>

        </tr>
    {% if users %}
        {% set row = namespace(counter = 0) %}
        {% for user in users %}
            {% set row.counter = row.counter + 1 %}
            {% if user['incorrect_login_attempts'] >= 3 %}
                <tr style="background-color: goldenrod">
            {% elif row.counter % 2 == 1 %}
                <tr style="background-color:#CFCFCF">
            {% else %}
                <tr>
            {% endif %}
                <td>{{user['first_name']}} {{user['last_name']}}</td>
                <td>{{user['username']}}</td>
                <td><a href="mailto:{{user['email_address']}}">{{user['email_address']}}</a></td>

                {% if user['active'] == 1 %}
                    <td style="background-color: green">
                        Yes
                    </td>
                {% else %}
                    <td style="background-color: firebrick">
                        No
                    </td>
                {% endif %}
                {% if user['role'] == 2 %}
                    <td>
                        Administrator
                    </td>
                {% elif user['role'] == 1 %}
                    <td>
                        Manager
                    </td>
                {% else %}
                    <td>
                        User
                    </td>
                {% endif %}
                <td style="background-color: white"><button type="button" style="display: block; margin: auto" onclick="window.location.href='{{ url_for('auth.edit_user', username=user['username'])}}'">Edit</button></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No users found!</td>
        </tr>
    {% endif %}

    </table>
    </div>
 <button type="button" style="display: block; margin: auto" onclick="window.location.href='{{ url_for('auth.register')}}'">Create user</button>
{% endblock %}


</body>
</html>