{% extends 'base.html' %}

{% block header %}
    {% block title %}
    {% if (g.user) and (g.user['role'] == 2) %}
        <h1>Create a new account</h1>
    {% else %}
        <h1>Register for a new account</h1>
    {% endif %}
    {% endblock %}
{% endblock %}
{% block content %}
<div id = newUserbox style="width: 500px;
        height: 900px;
        background: black;
        color: #185DFF;
        position: absolute;
        margin-top: 230px;
        left: 50%;
        top : 50%;
        border-radius: 10px;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        padding: 40px 30px;">
    <h1 style = "padding:0; text-align:center; color: white">Create a new account</h1>
    <form method="post">
        <label for="email_address" style="margin: 0;padding: 0;
        font-weight: bold;">Email Address</label>
        <input name="email_address" placeholder="Enter email address" id="email_address" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        <label for="password" style="margin: 0;
            padding: 0;
            font-weight: bold;">Password</label>
        <input type="password" name="password" placeholder="Enter password" id="password" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        <label for="first_name" style="margin: 0;
            padding: 0;
            font-weight: bold;">First Name</label>
        <input name="first_name" placeholder="Enter first name" id="first_name" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <label for="last_name" style="margin: 0;
            padding: 0;
            font-weight: bold;">Last Name</label>
        <input name="last_name" placeholder="Enter last name" id="last_name" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        <label for="address" style="margin: 0;
            padding: 0;
            font-weight: bold;">Address</label>
        <input name="address" placeholder="Enter address" id="address" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        <label for="DOB" style="margin: 0;
            padding: 0;
            font-weight: bold;">Date of birth (MM-DD-YYYY)</label>
        <input type = "date" name="DOB" id="DOB" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        <label for="first_pet" style="margin: 0;
            padding: 0;
            font-weight: bold;">Name of your first pet</label>
        <input name="first_pet" placeholder="Enter first pet" id="first_pet" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        <label for="city_born" style="margin: 0;
            padding: 0;
            font-weight: bold;">City you were born in</label>
        <input name="city_born" placeholder="Enter city born" id="city_born" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        <label for="year_graduated_hs" style="margin: 0;
            padding: 0;
            font-weight: bold;">Year you graduated highschool</label>
        <input name="year_graduated_hs" placeholder="Enter graduation year" id="year_graduated_hs" required style="width: 100%;
            border: none;
            border-bottom: 1px solid #F89E19;
            background:transparent;
            outline: none;
            padding-bottom: 5px;
            height: 40px;
            color: aliceblue; margin-bottom: 10px;">
        <br>
        {% if (g.user) and (g.user['role'] == 2) %}
            <input type="submit" value="Create" style="background-color: #185DFF;
                color: white;
                padding: 16px 20px;
                margin-top: 20px;
                margin-bottom: 30px;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                width: 100%;
                opacity: 0.9;
                font-size: 14px;">
        {% else %}
            <input type="submit" value="Register" style="background-color: #185DFF;
                color: white;
                padding: 16px 20px;
                margin-top: 20px;
                margin-bottom: 30px;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                width: 100%;
                opacity: 0.9;
                font-size: 14px;">
        {% endif %}

    </form>
    </div>
{% endblock %}