{% extends 'base.html' %}


{% block content %}
<style>
  .passwordreset{
     position: relative;
    max-width: 380px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }
  .passwordreset form{
    position: relative;
    margin-top:16px;
    min-height: 400px;
    background: black;
}
  .passwordreset h1{
    padding:0; text-align:center; color: white;
  }
  form label{
    font-size: 14px;
    font-weight: bold;
    color: #185DFF;
  }
  form input{
    width: 100%;
    outline: none;
    color: #333;
    font-size: 14px;
    border: 1px solid #F89E19;
    border-radius: 5px;
    color: black;
    height: 42px;
    margin: 8px 0;
  }
  form .submit{
        background-color: #185DFF;
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        font-size: 14px;
  }
   form .checkbox{
    width:auto;
    float:left;

  }
  form .show{
      margin-left: 2em;
      color: white;
      padding-left: -50px;
      margin-bottom: 20px;

  }
  #message p {
  padding: 5px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

  @media screen and (max-width: 600px) {
.passwordreset{
    margin-top: 10vh;
}
  }

  @media screen and (max-width: 390px) {
.passwordreset{
    margin-top: 10vh;
    padding-bottom: 20px;
}
  }
</style>
<div class = "passwordreset">
<h1>{% block title %}Enter new password for {{ g.user['username'] }}{% endblock %}</h1>
    <form method="post" onsubmit="return checkPassword(this)">
        <label for="password1">Enter new password</label>
        <input type="password" name="password1" id="password1" pattern="^([A-Za-z])(?=.*\d)(?=.*[A-Za-z])(?=.*[!@#$%^&*]).{8,}"
               title="Must start with a letter, contain at least one number and one special character and have at least 8 or more characters" required>
         <input class = "checkbox"  type="checkbox" onclick="myFunction()"><div class = "show"></div>
    <div style="overflow: hidden; padding: 0px 0px 0px 5px; color: white">
             Show Password
    </div>
        <br>
        <label for="password2" style = "margin-left: -13px; margin-top: 10px">Confirm new password</label>
        <input type="password" name="password2" id="password2" required>
         <input class = "checkbox"  type="checkbox" onclick="myFunction2()"><div class = "show"></div>
    <div style="overflow: hidden; padding: 0px 0px 0px 5px; color: white">
             Show Password
    </div>
        <input class="submit" type="submit" value="Submit" >
        <div id="message" style="color:#185DFF">
          <h3>Password must contain the following:</h3>
          <p id="length" class="invalid">A <b>minimum of 8 characters</b></p>
          <p id="letter" class="invalid">Must <b>start with a letter</b> </p>
          <p id="alphabet" class="invalid"><b>Must have a letter</b></p>
          <p id="number" class="invalid">At least <b>1 number </b></p>
           <p id="specialChar" class="invalid">At least <b>1 special character from this list: !@#$%^&*</b></p>
       </div>
    </form>
</div>
<script>


            var myInput = document.getElementById("password1");
            var letter = document.getElementById("letter");
            var alphabet = document.getElementById("alphabet");
            var number = document.getElementById("number");
            var length = document.getElementById("length");
            var specialChar = document.getElementById("specialChar");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
          // Validate starts with a letter
          var lowerCaseLetters = /[a-zA-Z]/g;
          if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
          }

          // Validate contains a letter other than the first letter
          var upperCaseLetters = /[a-zA-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {
            alphabet.classList.remove("invalid");
            alphabet.classList.add("valid");
          } else {
            alphabet.classList.remove("valid");
            alphabet.classList.add("invalid");
          }

          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }

          // Validate length is above 8
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
          // Validate Special characters
            var specialChars = /[!@#$%^&*]/g;
            if(myInput.value.match(specialChars)){
                specialChar.classList.remove("invalid");
                specialChar.classList.add("valid");
              } else {
                specialChar.classList.remove("valid");
                specialChar.classList.add("invalid");
          }

          // Get the value of the input field with id="numb"
          /*let x = document.getElementById("year_graduated_hs").value;
          // If x is Not a Number or less than one or greater than 10
          let text;
          if (isNaN(x) || x < 1930 || x > 2011) {
            text = "Input not valid";
          } else {
            text = "Input OK";
          }
          document.getElementById("error").innerHTML = text;*/

    }
  function myFunction() {
  var x = document.getElementById("password1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
  function  myFunction2(){
      var y = document.getElementById("password2");
      if (y.type === "password") {
        y.type = "text";
      } else {
        y.type = "password";
      }
  }
  function checkPassword(form) {
                password1 = form.password1.value;
                password2 = form.password2.value;

                // If password not entered
                if (password1 == '')
                    alert ("Please enter Password");

                // If confirm password not entered
                else if (password2 == '')
                    alert ("Please enter confirm password");

                // If Not same return False.
                else if (password1 != password2) {
                    alert ("\nPassword did not match: Please try again...")
                    return false;
                }

                // If same return True.
                else{
                    alert("Password has been successfully changed")
                    return true;
                }
            }
</script>
{% endblock %}