{% extends 'base.html' %}


{% block content %}
<style>
  .passwordreset{
     max-width: 380px;
        width: 80%;
        max-height: 500px;
        height: 100%;
        background: black;
        color: #185DFF;
        position: absolute;
        left: 50%;
        top : 50%;
        margin-top: 30px;
        border-radius: 10px;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        padding: 40px 30px;
  }
  .passwordreset h1{
    padding:0; text-align:center; color: white;
  }
  form label{
    font-size: 14px;
    font-weight: bold;
    color: #185DFF;
  }
  form input{
    width: 100%;
    outline: none;
    color: #333;
    font-size: 14px;
    border: 1px solid #F89E19;
    border-radius: 5px;
    color: black;
    height: 42px;
    margin: 8px 0;
  }
  form .submit{
        background-color: #185DFF;
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        font-size: 14px;
  }
   form .checkbox{
    width:auto;
    float:left;

  }
  form .show{
      margin-left: 2em;
      color: white;
      padding-left: -50px;
      margin-bottom: 20px;

  }
  @media screen and (max-width: 600px) {
.passwordreset{
    margin-top: 20px;
}
  }

  @media screen and (max-width: 390px) {
.passwordreset{
    margin-top: 50px;
    padding-bottom: 20px;
}
  }
</style>
<div class = "passwordreset">
<h1>{% block title %}Enter new password for {{ g.user['username'] }}{% endblock %}</h1>
    <form method="post">
        <label for="password1">Enter new password</label>
        <input type="password" name="password1" id="password1" required>
         <input class = "checkbox"  type="checkbox" onclick="myFunction()"><div class = "show"></div>
    <div style="overflow: hidden; padding: 0px 0px 0px 5px; color: white">
             Show Password
    </div>
        <br>
        <label for="password2" style = "margin-left: -13px; margin-top: 10px">Confirm new password</label>
        <input type="password" name="password2" id="password2" required>
         <input class = "checkbox"  type="checkbox" onclick="myFunction2()"><div class = "show"></div>
    <div style="overflow: hidden; padding: 0px 0px 0px 5px; color: white">
             Show Password
    </div>
        <input class="submit" type="submit" value="Submit" onclick="matchPassword()">
    </form>
</div>
<script>
  function myFunction() {
  var x = document.getElementById("password1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
  function  myFunction2(){
      var y = document.getElementById("password2");
      if (y.type === "password") {
        y.type = "text";
      } else {
        y.type = "password";
      }
  }
  function matchPassword() {
  var pw1 = document.getElementById("password1");
  var pw2 = document.getElementById("password2");
  if(pw1 != pw2)
  {
    alert("Passwords did not match");
    return false;
  } else {
    alert("Password changed successfully");
    return true;
  }
}
</script>
{% endblock %}