{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Enter new password for {{ g.user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="password1">Enter new password</label>
        <input name="password1" id="password1" required>
        <br>
        <label for="password2">Confirm new password</label>
        <input name="password2" id="password2" required>
        <input type="submit" value="Submit">
    </form>
{% endblock %}