<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="{{url_for('static', filename = 'index.css') }}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

      <title>{% block title %}{% endblock %} - Bookkeeping Buddy</title>
  </head>
{# <script type="text/javascript">#}
{# function numberWithCommas(input) {#}
{#     input.value = parseFloat(input.value).toLocaleString()#}
{#     return input#}
{#         .replace(/[^0-9\.]/g, '')#}
{#         .toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",", ".");#}
{# }#}
{#</script>#}
      <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(function () {
            // Jquery Dependency

            $("input[datatype='currency']").on({
                keyup: function () {
                    formatCurrency($(this));
                },
                blur: function () {
                    formatCurrency($(this), "blur");
                }
            });


            function formatNumber(n) {
                // format number 1000000 to 1,234,567
                return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }


            function formatCurrency(input, blur) {
                // appends $ to value, validates decimal side
                // and puts cursor back in right position.

                // get input value
                var input_val = input.val();

                // don't validate empty input
                if (input_val === "") { return; }

                // original length
                var original_len = input_val.length;

                // initial caret position
                var caret_pos = input.prop("selectionStart");

                // check for decimal
                if (input_val.indexOf(".") >= 0) {

                    // get position of first decimal
                    // this prevents multiple decimals from
                    // being entered
                    var decimal_pos = input_val.indexOf(".");

                    // split number by decimal point
                    var left_side = input_val.substring(0, decimal_pos);
                    var right_side = input_val.substring(decimal_pos);

                    // add commas to left side of number
                    left_side = formatNumber(left_side);

                    // validate right side
                    right_side = formatNumber(right_side);

                    // On blur make sure 2 numbers after decimal
                    if (blur === "blur") {
                        right_side += "00";
                    }

                    // Limit decimal to only 2 digits
                    right_side = right_side.substring(0, 2);

                    // join number by .
                    input_val = "$" + left_side + "." + right_side;

                } else {
                    // no decimal entered
                    // add commas to number
                    // remove all non-digits
                    input_val = formatNumber(input_val);
                    input_val = "$" + input_val;

                    // final formatting
                    if (blur === "blur") {
                        input_val += ".00";
                    }
                }

                // send updated string to input
                input.val(input_val);

                // put caret back in the right position
                var updated_len = input_val.length;
                caret_pos = updated_len - original_len + caret_pos;
                input[0].setSelectionRange(caret_pos, caret_pos);
            }
        })
    </script>

  <script type="text/javascript">
     {
    function numberWithComma(number) {
        let parts = number.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    $(function () {
        $('.show-comma').each(function () {
            let num = $(this).text();
            let commaNum = new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format(num/100);
           $(this).text(commaNum);
    });
});
}

  </script>
<style>
    *{
        margin: 0;
        padding: 0;
    }

</style>
<body>

     <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="position: relative; z-index: 999; overflow: visible">
      <a class="navbar-brand" href = {{ url_for('mainpage') }} > <img src="{{ url_for('static', filename='logo_cropped.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Site logo">
    Bookkeeping Buddy
  </a>
     {%  if g.user %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <div id="username" >{{ g.user['username'] }}</div>
      <ul class="navbar-nav mr-right">
        <li class="nav-item dropdown" style="position: relative; z-index: 999; overflow: visible">
            {% if g.user['picture'] %}
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="data:image/png;base64, {{ g.user["picture"] | make_image }}" class = "rounded-circle" width="30" height="30" alt="User's profile picture"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('auth.my_account') }}">My Account</a>
          <a class="dropdown-item" href="{{ url_for('auth.manage_users')}}" >Manage Users</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
        </div>
             {% else %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ url_for('static', filename='no_photo.png') }}" class = "rounded-circle" width="30" height="30" alt="Placeholder profile picture"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('auth.my_account') }}">My Account</a>
          {% if g.user['role'] == 2 %}
            <a class="dropdown-item" href="{{ url_for('auth.manage_users')}}" >Manage Users</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
        </div>
             {% endif %}
      </li>
      </ul>
  </div>

     {% else %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
    </ul>
        </div>
     {% endif %}
 </nav>
{%  if g.user %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div id="fullname" style="text-align: left; margin-right: 30px">{{ g.user['first_name'] }} {{ g.user['last_name'] }}</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <form  class="form-inline">
        <div class = "row form-group">
                <label for = "date" class = "col-form-label">Calendar</label>
                <div >
                    <div class = "input-group date" id = "datepicker">
                        <input type = "text" class = "form-control">
                        <span class = "input-group-append">
                            <span class = "input-group-text bg-white">
                                <i class = "fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

              </form>
    <script type="text/javascript">
       $(function(){
        $('#datepicker').datepicker();
       });
    </script>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

       <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: white; color: #185DFF">Statements
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Income Statement</a></li>
                <li><a href="#">Retained Earnings statement</a></li>
                <li><a href="#">Balance sheet</a></li>
              </ul>
            </div>
        <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: white; color: #185DFF">Accounts
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                {% if g.user['role'] == 2 %}
                <li><a href='{{ url_for('fin_accts.create_acct')}}'>Create new account</a></li>
                {% endif %}
                <li><a href='{{ url_for('fin_accts.view_accounts')}}'>View accounts</a></li>
              </ul>
            </div>
            <!--<button type="button" class="btn btn-outline-primary" style = "background-color: white; color: #185DFF"  data-toggle="tooltip" data-placement="top" title="Create a new account" onclick="window.location.href='{{ url_for('fin_accts.create_acct')}}'">New Account</button>-->
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Create a new transaction" style = "background-color: white; color: #185DFF" href="#">Transactions</button>
        <button type="button" class="btn btn-outline-primary" style = "background-color: white; color: #185DFF" data-toggle="tooltip" data-placement="top" title="Create a journal transaction">Journaling</button>
        <button type="button" class="btn btn-outline-primary" style = "background-color: white; color: #185DFF" data-toggle="tooltip" data-placement="top" title="Create a trial balance">Trial balance</button>
    </form>
  </div>
</nav>
   <!-- <nav class="navbar navbar-light bg-primary">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div id="fullname" style="text-align: left;">{{ g.user['first_name'] }} {{ g.user['last_name'] }}</div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Calendar</a>
      </li>
     </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <form class="form-inline">
             <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: white; color: #185DFF">Statements
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Income Statement</a></li>
                <li><a href="#">Retained Earnings statement</a></li>
                <li><a href="#">Balance sheet</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-outline-primary" style = "background-color: white; color: #185DFF"  data-toggle="tooltip" data-placement="top" title="Create a new account" onclick="window.location.href='{{ url_for('fin_accts.create_acct')}}'">New Account</button>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Create a new transaction" style = "background-color: white; color: #185DFF">Transactions</button>
        <button type="button" class="btn btn-outline-primary" style = "background-color: white; color: #185DFF" data-toggle="tooltip" data-placement="top" title="Create a journal transaction">Journaling</button>
        <button type="button" class="btn btn-outline-primary" style = "background-color: white; color: #185DFF" data-toggle="tooltip" data-placement="top" title="Create a trial balance">Trial balance</button>

      </form>
</div>
</nav>-->
{% else %}
{% endif %}

</body>
<section class="content">

    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <script>window.alert("{{ message }}")</script>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</html>