<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head></head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Bookkeeping Buddy</title>
</head>
<style>
    sitelogo{
        width: 70px;
        height: 75px;
        border-radius: 50%;
    }
    userImage{
    width: 70px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top:0;
  }
  navbar{
    height:100px;
    width: 100%;
    position: fixed;
    background: white;
    padding: 10px 0;
    color:#185DFF;
    padding-left: 100px;
    font-size: large;
  }
</style>

    <div id="navbar" style="height:110px; width:100%; border-bottom: 1px solid #F89E19;">
        {%  if g.user %}
        <div style = "flex:50%">
                <a href = {{ url_for('mainpage') }} > <img src="{{ url_for('static', filename='logo_cropped.png') }}" style = "width: 70px;height: 75px;"  alt="BookkeepingBuddy logo"></a>
                   <p style ="text-align: center; color: #185DFF; font-size: 20px; margin-top: -40px"><b>Bookkeeping Buddy</b></p>
                  <!--<a href="{{ url_for('auth.register') }}" style="right:0; top:0;">Register</a>
                <a href="{{ url_for('auth.login') }}" style="right:0; top:0;">Log In</a>-->
               </div>
           <div id="logged_in_header" style="display: flex; width:100%;">
                <div id="user_pic" style="text-align: right; flex: 50%">
            {% if g.user['picture'] %}
                <span><img src="data:image/png;base64, {{ g.user["picture"] | make_image }}"  id = "userImage" style="width:50px;height:55px; border-radius: 50%; margin-top: -70px" alt="User's profile picture"/></span>
            {% else %}
                <span><img src="{{ url_for('static', filename='no_photo.png') }}" style="width:50px;height:55px; border-radius: 50%; margin-top: -120px" alt="Placeholder profile picture"/></span>
            {% endif %}
                <div id="username" style="text-align: right; padding-right: 100px;margin-top: -100px">Logged in as {{ g.user['username'] }}</div>
                {% if g.user['role'] == 2 %}
                <div id="account_type" style="text-align: right; padding-right: 100px;" >Account type: Administrator</div>
                <div id="admin_functions" style="text-align: right; margin-top: -38px">
                    <a href="{{ url_for('auth.manage_users')}}" >Manage Users</a>
                </div>
                {% elif g.user['role'] == 1 %}
                <div id="account_type" style="text-align: right; padding-right: 100px;">Account type: Manager</div>
                {% else %}
                <div id="account_type" style="text-align: right; padding-right: 100px;">Account type: User</div>
                {% endif %}
                <div id="logout" style="text-align: right; "><a href="{{ url_for('auth.logout') }}">Log Out</a></div>
            </div>
        {% else %}
               <div style = "flex:50%">
                <a href = {{ url_for('mainpage') }} > <img src="{{ url_for('static', filename='logo_cropped.png') }}" style = "width: 70px;height: 75px;"  alt="BookkeepingBuddy logo"></a>
                   <p style ="text-align: center; color: #185DFF; font-size: 20px; margin-top: -40px"><b>Bookkeeping Buddy</b></p>
                   <a href="{{ url_for('auth.register') }}" style="right:0; top:0;">Register</a>
                <a href="{{ url_for('auth.login') }}" style="right:0; top:0;">Log In</a>
               </div>
        {% endif %}
    </div>
    </div>


<section class="content">

    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <script>window.alert("{{ message }}")</script>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</html>