<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - Bookkeeping Buddy</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <div id="navbar">

        {%  if g.user %}
            <div id="logged_in_header" style="display: inline-block; width:100%">
                <div id="user_pic" style="text-align: right; display: inline-block">
            {% if g.user['picture'] %}
                <span><img src="data:image/png;base64, {{ g.user["picture"] | make_image }}"  id = "userImage" alt="User's profile picture"/></span>
            {% else %}
                <span><img src="{{ url_for('static', filename='no_photo.png') }}" style="width:100px;height:100px;"  alt="Placeholder profile picture"/></span>
            {% endif %}
                <div id="username" style="text-align: right">Logged in as {{ g.user['username'] }}</div>
                {% if g.user['role'] == 2 %}
                <div id="account_type" style="text-align: right">Account type: Administrator</div>
                <div id="admin_functions" style="text-align: right">
                    <a href="{{ url_for('auth.manage_users')}}">Manage Users</a>
                </div>
                {% elif g.user['role'] == 1 %}
                <div id="account_type" style="text-align: right">Account type: Manager</div>
                {% else %}
                <div id="account_type" style="text-align: right">Account type: User</div>
                {% endif %}
                <div id="logout" style="text-align: right"><a href="{{ url_for('auth.logout') }}">Log Out</a></div>
            </div>
        {% else %}
                <a href = {{ url_for('mainpage') }}> <img src="{{ url_for('static', filename='logo_cropped.png') }}" style="height: 150px" alt="BookkeepingBuddy logo"></a>
                <a href="{{ url_for('auth.register') }}" style="text-align: right">Register</a>
                <a href="{{ url_for('auth.login') }}" style="text-align: right">Log In</a>
        {% endif %}
    </div>
    </div>
</nav>

<section class="content">

    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <script>window.alert("{{ message }}")</script>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</html>