{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>{% block title %}Home{% endblock %}</h1>
</head>
{% block content %}
<body>
<div class = "wrapper">
    <div class = "logo">
        <img src = "logobk.png" alt = "logo">
    </div>
    <ul class = "nav-area">
        <li><a href = "index.html">Home</a></li>
        <li><a href = "#">Log in</a></li>
        <li><a href = "#">Sign up</a></li>
    </ul>
</div>
<div class = "Welcome-text">
<h1> BOOKKEEPING BUDDY</h1>
    <p><mark>Easily track income, expenses, and more with accounting software designed for all kinds of businesses.</mark></p>
    </div>
</body>
{% endblock %}
</html>
