{% extends 'base.html' %}

{% block content %}
<script  type="text/javascript">

function errorMessage(){
    var arr1 = document.querySelectorAll('.credit');
    var totalCredit = 0;
    for(var i=0;i<arr1.length;i++){
        if(parseFloat(arr1[i].value))
            totalCredit += parseFloat(arr1[i].value);
    }
    var arr2 = document.querySelectorAll('.debit');
    var totalDebit = 0;
    for(var i=0;i<arr2.length;i++){
        if(parseFloat(arr2[i].value))
            totalDebit += parseFloat(arr2[i].value);
    }

    if (totalDebit > totalCredit)
    {
        let error1 = alert("Total debit amount is greater than credit");
        //document.getElementById("entry").addEventListener("click", function(event){
        //event.preventDefault()});
    }
    else if(totalDebit < totalCredit){
        let error2 = alert("Total credit amount is greater than debit");
        //document.getElementById("entry").addEventListener("click", function(event){
        //event.preventDefault()});
    }

}
</script>
    <style>
        label {
            color: white;
        }
    </style>
    {% if adjusting %}
        <h3 style="color: white">Create a new adjusting journal entry</h3>
    {% elif not adjusting %}
        <h3 style="color: white">Create a new journal entry</h3>
    {% endif %}
    <form id="journal" class="box" method="post" enctype="multipart/form-data">
        <table class="table table-sm">
            <thead style="color: #185DFF; background-color: #CFCFCF">
            <th>Account to credit</th>
            <th>Amount</th>
            </thead>
            {% for number in range(1, 6) %}
                <tr>
                    <td>
                        <select name="credit_{{ number }}_account">
                            {% for account in accounts %}
                                <option value="{{ account['acct_num'] }}">{{ account['acct_num'] }}
                                    - {{ account['acct_name'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="padding-bottom: 1px">
                        <input class="credit" style="border: none" name="credit_{{ number }}_value" type="text" datatype="currency"
                               placeholder="$0" id="credit_{{ number }}_value">
                    </td>
                </tr>
            {% endfor %}
        </table>

        <table class="table table-sm">
            <thead style="color: #185DFF; background-color: #CFCFCF">
            <th>Account to debit</th>
            <th>Amount</th>
            </thead>
            {% for number in range(1, 6) %}
                <tr>
                    <td>
                        <select name="debit_{{ number }}_account">
                            {% for account in accounts %}
                                <option value="{{ account['acct_num'] }}">{{ account['acct_num'] }}
                                    - {{ account['acct_name'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="padding-bottom: 1px">
                        <input class="debit" style="border: none" name="debit_{{ number }}_value" type="text" datatype="currency"
                               placeholder="$0" id="debit_{{ number }}_value">
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table class="table table-sm">
            <thead style="color: #185DFF; background-color: #CFCFCF">
            <th><label for="description" style="color: #185DFF">Entry description</label></th>
            </thead>
            <tr>
                <td><textarea class="form-control" name="description" id="description" rows="2"
                              style="width: 100%; border-color: #185DFF; border-radius: 4px"></textarea></td>
            </tr>
        </table>

        <table class="table table-sm">
            <thead style="color: #185DFF; background-color: #CFCFCF">
            <th><label for="attachment" style="color: #185DFF">Upload supporting documentation</label></th>
            </thead>
            <tr>
                <td><input style="color: black" class="file" type="file" name="attachment" id="attachment"></td>
            </tr>
        </table>
        <br>
        <br>
        <input style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #185DFF; color: white; border-radius: 6px; width: 200px"
               type="reset" value="Reset">
        <br>
        <input id="entry" style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #185DFF; color: white; border-radius: 6px; width: 200px"
              onclick="errorMessage()" class="submit" type="submit" value="Add entry">

    </form>

{% endblock %}
