{% extends 'base.html' %}

{% block content %}
    <header>
    {% block title %}
        Create a new financial account
    {% endblock %}
    </header>

    <form method="post">
        <label for="acct_name">Account Name</label>
        <input name="acct_name" placeholder="Enter a name for the new account" id="acct_name" required>
        <br>
        <label for="acct_desc">Account Description</label>
        <input name="acct_desc" placeholder="Enter a description of the new account" id="acct_desc" required>
        <br>
        <label for="acct_category">Account Category</label>
        <select name="acct_category" id="acct_category">
            {% for category in categories %}
            <option value="{{ category['number'] }}">{{ category['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="acct_subcategory">Account Subcategory</label>
        <input name="acct_subcategory" placeholder="Enter the numerical subcategory for the new account" id="acct_subcategory" required>
        <br>
        <label for="debit">Account Type</label>
        <select name="debit" id="debit">
            <option value="1">Debit</option>
            <option value="0">Credit</option>
        </select>
        <br>
        <label for="initial_bal">Initial Account Balance</label>
        <input name="initial_bal" placeholder="Enter the initial balance for the new account" id="initial_bal" required>
        <br>
        <label for="statement">Statement</label>
        <select name="statement" id="statement">
            {% for statement in statements %}
                <option value="{{ statement['number'] }}">{{ statement['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="comment">Account Comments</label>
        <textarea name="comment" id="comment" placeholder="Enter comments about this account"></textarea>
        <br>
        <input type="submit" value="Create Account">
    </form>
{% endblock %}