{% extends 'base.html' %}

{% block content %}
 <style>
    .loginbox{
   position: relative;
    max-width: 500px;
    width: 80%;
    border-radius: 6px;
    padding: 30px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: black;}
  .loginbox h1{
    padding:0; text-align:center; color: white; font-size: x-large;
  }
  .loginbox .box{
    position: relative;
    margin-top:16px;
    min-height: 400px;
    background: black;
}
  .box label{
    font-size: 14px;
    font-weight: bold;
    color: #185DFF;
  }
  .box input{
    width: 100%;
    outline: none;
    color: #333;
    font-size: 14px;
    border: 1px solid #F89E19;
    border-radius: 5px;
    color: black;
    height: 42px;
    margin: 8px 0;
  }
  .box .submit{
        background-color: #185DFF;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        font-size: 14px;
  }
  @media screen and (max-width: 600px) {
  }
    @media screen and (max-width: 390px) {
  .loginbox {
      margin-top: 10vh;
  }}

</style>
<div class = "loginbox">
    <form class = "box" method="post">
        <h1>
    {% block title %}
        {% if account %}
            Edit Account #{{ account['acct_num'] }}
            <br>
            Status: {% if account['active'] == 1 %}Active{% else %}Inactive{% endif %}
        {% else %}
            Create a new financial account
        {% endif %}
    {% endblock %}
    </h1>
        <label for="acct_name">Account Name</label>
        <input name="acct_name" placeholder="Enter a name for the new account" id="acct_name" {% if account %} value="{{ account['acct_name'] }}" {% endif %}required>
        <br>
        <label for="acct_desc">Account Description</label>
        <input name="acct_desc" placeholder="Enter a description of the new account" id="acct_desc" {% if account %} value="{{ account['acct_desc'] }}" {% endif %}required>
        <br>
        <label for="acct_category">Account Category</label>
        <select name="acct_category" id="acct_category" class="form-control">
            {% for category in categories %}
            <option value="{{ category['number'] }}"> {% if account and account['acct_category'] == category['number'] %} selected {% endif %}{{ category['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="acct_subcategory">Account Subcategory</label>
        <input name="acct_subcategory" placeholder="Enter the numerical subcategory for the new account" id="acct_subcategory" {% if account %} value="{{ account['acct_subcategory'] }}" {% endif %} required>
        <br>
        <label for="debit">Account Type</label>
        <select name="debit" id="debit" class="form-control">
            <option value="1" {% if account and account['debit'] == 1 %} selected {% endif %}>Debit</option>
            <option value="0" {% if account and account['debit'] == 0 %} selected {% endif %}>Credit</option>
        </select>
        {% if not account %}
            <br>
            <label for="initial_bal">Initial Account Balance</label>
            <input name="initial_bal" placeholder="Enter the initial balance for the new account" id="initial_bal" required>
        {% endif %}
        <br>
        <label for="statement">Statement</label>
        <select name="statement" id="statement" class="form-control">
            {% for statement in statements %}
                <option value="{{ statement['number'] }}" {% if account and account['statement'] == statement['number'] %} selected {% endif %}>{{ statement['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="comment">Account Comments</label>
         <textarea class="form-control" name="comment" id="comment" placeholder="Enter comments about this account" rows="3">{% if account %}{{ account['comment'] }}{% endif %}</textarea>
        <br>
            <input class = "submit" type="submit" value="{% if account %}Submit Changes{% else %}Create Account{% endif %}"/>
    </form>
    </div>
{% endblock %}