{% extends 'base.html' %}


{% block content %}
<header style="color: white; font-size: xx-large; font-weight: bold;">
{% block title %}
    Ledger for account {{account['acct_num'] }}
{% endblock %}</header>

        <table class="table">
            <thead>
                <th>Date</th>
                <th>Description</th>
                <th>Debits</th>
                <th>Credits</th>
                <th>Post Reference</th>
                <th>Balance</th>
            </thead>
            {% for entry in entries %}
            <tr>
                <td>{{ entry['date'] }}</td>
                <td>{{ entry['description'] }}</td>
                {% if entry['debit'] %}
                    <td class="show-comma">{{ entry['debit'] }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if entry['credit'] %}
                    <td class="show-comma">{{ entry['credit'] }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if entry['post_reference'] %}
                    <td><a href="{{ url_for('journaling.journal')}}#entry_{{ entry['post_reference'] }}">{{ entry['post_reference'] }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td class="show-comma">{{ entry['balance'] }}</td>
            </tr>
            {% endfor %}
        </table>

    <div style="color:white">
    <button type="button" style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #185DFF; color: white; border-radius: 6px; width: 200px"  onclick="window.location.href='{{ url_for('fin_accts.view_logs', account_num=account['acct_num'])}}'">View Account Logs</button>
    </div>
{% endblock %}
</html>