{% extends 'base.html' %}

{% block content %}
    <header style="color: white; font-size: xx-large">
        {% block title %}
            View financial accounts
        {% endblock %}
    </header>


    {% for category in acct_categories %}
        <h2 style="color: white">{{ category['name'] }}</h2>
<div style="overflow-x:auto; margin-top: -7px">
        <table class = "table table-sm" style="height:110px; width:100%; border-bottom: 1px solid #F89E19">
            <thead class="thead-dark">
            <tr></tr>
                <th>Number</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Statement</th>
                <th>Comment</th>
                {% if g.user['role'] == 2 %}
                    <th>Account Actions</th>
                {% endif %}
            </tr>
            </thead>
            {% for account in accounts %}
                {% if account['acct_category'] == category['number'] %}

                    <tr class = "table">
                        <td>{{ account['acct_num'] }}</td>
                        <td><a href="{{ url_for("fin_accts.view_ledger", account_num=account['acct_num']) }}">{{ account['acct_name'] }}</a></td>
                        <td>{{ account['acct_desc'] }}</td>
                        {% if account['debit'] %}
                            <td>Debit</td>
                        {% else %}
                            <td>Credit</td>
                        {% endif %}
                        <td>{{ account['balance'] }}</td>
                        <td>{{ account['statement'] }}</td>
                        <td>{{ account['comment'] }}</td>
                        {% if g.user['role'] == 2 %}
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" style="display: block; margin: auto" onclick="window.location.href='{{ url_for("fin_accts.edit_account", account_num=account['acct_num'] )}}'">Edit</button>
                                <button type="button" style="display: block; margin: auto" onclick="window.location.href='{{ url_for('fin_accts.deactivate_account', account_num=account['acct_num'])}}'">Deactivate</button>

                                </div>
                                 </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
</div>
    {% endfor %}
<br>
    <button type="button" style="display: block; border-color: #F89E19; margin: auto; padding: 10px; background-color: #185DFF; color: white; border-radius: 6px; width: 200px"  onclick="window.location.href='{{ url_for('fin_accts.create_acct')}}'">Create New Account</button>
    <br>
{% endblock %}