{% extends 'base.html' %}

{% block content %}
    <header>
        {% block title %}
            View financial accounts
        {% endblock %}
    </header>

    <br>
    <br>
    <button type="button" style="display: block; margin: auto" onclick="window.location.href='{{ url_for('fin_accts.create_acct')}}'">Create New Account</button>
    <br>
    <br>

    {% for category in acct_categories %}
        <h2>{{ category['name'] }}</h2>
        <table>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Statement</th>
                <th>Comment</th>
                {% if g.user['role'] == 2 %}
                    <th>Account Actions</th>
                {% endif %}
            </tr>
            {% for account in accounts %}
                {% if account['acct_category'] == category['number'] %}
                    <tr>
                        <td>{{ account['acct_num'] }}</td>
                        <td><a href="{{ url_for("fin_accts.view_ledger", account_num=account['acct_num']) }}">{{ account['acct_name'] }}</a></td>
                        <td>{{ account['acct_desc'] }}</td>
                        {% if account['debit'] %}
                            <td>Debit</td>
                        {% else %}
                            <td>Credit</td>
                        {% endif %}
                        <td>{{ account['balance'] }}</td>
                        <td>{{ account['statement'] }}</td>
                        <td>{{ account['comment'] }}</td>
                        {% if g.user['role'] == 2 %}
                            <td>
                                <button type="button" style="display: block; margin: auto" onclick="window.location.href='{{ url_for("fin_accts.edit_account", account_num=account['acct_num'] )}}'">Edit</button>
                                <button type="button" style="display: block; margin: auto" onclick="window.location.href='{{ url_for('fin_accts.deactivate_account', account_num=account['acct_num'])}}'">Deactivate</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}